@import "_vars";

.download {
  background: $blue;
  border: none;
  color: #fff;
  height: 32px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  margin-left: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;

  .fa-download {
    margin-right: 10px;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
