@import "_vars.scss";

.hero {
  background: url(../images/hero-bg.svg);
  background-size: cover;
  background-position-y: 60%;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  padding: 210px 25px 100px 25px;
  display: flex;
  align-items: center;
  .col-12 {
    padding: 25px;
  }
  p {
    padding: 0;
  }
  @media (max-width: 900px) {
    padding: 15px;
    border-top: none;
  }
  button {
    margin: 0;
    padding: 0;
  }
}
