@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import "_vars.scss";

html {
  overflow-x: hidden;
  font-size: 18px;
  @media (min-width: 768px) {
    font-size: 36px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  // background: $black !important;
  // color: #fff;
  // nav {
  //   background: #fff;
  // }
  overflow: hidden;
}
.container {
  max-width: 1470px;
}
.container,
.container-fluid {
  padding: 50px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 30px;
    font-weight: bold;

    @media (max-width: 767px) {
      padding: 0 20px;
    }
  }

  h1 {
    font-size: 2rem;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.15rem;
  }
  h4 {
    font-size: 1rem;
  }

  p,
  ul,
  li,
  .alert p {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 15px 0;
    @media (min-width: 768px) {
      font-size: 0.5rem;
    }
  }
  ul {
    padding-left: 20px;
  }
  .row {
    align-items: center;
  }

  p {
    @media (max-width: 767px) {
      padding: 0 20px;
    }
  }
  button {
    background: $orange;
    border: none;
    border-radius: 2px;
    width: 185px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 0.45rem;
    }
    @media (max-width: 768px) {
      margin-left: 20px;
      margin-bottom: 20px;
    }
    &:hover {
      background: $orange;
      opacity: 0.8;
    }
  }
  @media (min-width: 768px) {
    padding: 50px 0;
  }
}
.alert {
  height: 55px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.display-xs {
  display: none;

  @media (max-width: 899px) {
    display: block;
  }
}

.display-md {
  display: none;
  nav {
    background: #fff;
  }
  @media (min-width: 900px) {
    display: block;
  }
}
p code {
  background: $black;
  color: #fff;
  font-size: 0.5rem;
  border-radius: 3px;
  padding: 2px 5px;
}
pre {
  background: $darkgray3;
  padding: 5px 20px;
  border-radius: 6px;
  display: flex;
  color: #fff;
  font-size: 0.4rem;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 10000000000;
  //background: #fff;
  border-bottom: 1px solid $blue;
}

code {
  color: #2d9b0d;
}
