*.log
*.trs

cfgtest
cfgutilstest
circbuftest
comtest
ctltest
dbgtest
dnstest
evtformattest
glibcvertest
httpaggtest
httpheadertest
httpstatetest
javabcitest
linklisttest
logtest
mtcformattest
mtctest
reporttest
searchtest
selfinterposetest
transporttest
