**/*.swp
.gdb_history
scope.log
coverage/
# JetBrains specific directory
.idea
.DS_Store
*.pyc
venv
test/selfinterpose/
contrib/funchook/build/
contrib/pcre2/build
contrib/openssl/

test/testContainers/logs

#website
website/.env
website/public/
website/node_modules/
website/.cache/

