# Compiler Results
*.o
*.gcno
*.pyc

# Logs
scope.log

# Editor Temps
**/*.swp
.idea
.DS_Store

# Test Leftovers
venv
coverage/
test/selfinterpose/
test/testContainers/logs
**/*.gcda
**/*.gcov
newdir/
testtempdir1/
testtempdir2/

# Contribs
contrib/funchook/build/
contrib/pcre2/build
contrib/openssl/

# Website Temps
website/.env
website/public/
website/node_modules/
website/.cache/
