# Compiler Results
*.o
*.gcno
*.pyc

# Logs
scope.log

# Editor Temps
*.swp
**/*.swp
.idea
.DS_Store

# Test Leftovers
/venv
/coverage/
/test/selfinterpose/
/test/testContainers/logs
**/*.gcda
**/*.gcov
**/.test/
/newdir/
/testtempdir1/
/testtempdir2/
/certs/
/test/testContainers/logs

# Website Temps
/website/.env
/website/public/
/website/node_modules/
/website/.cache/
